<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
		<link rel="stylesheet" type="text/css" href="css/tooltipster.css" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.0.min.js"></script>
		<script type="text/javascript" src="js/jquery.tooltipster.min.js"></script>
		<script>
        $(document).ready(function() {
            $('.tooltip').tooltipster();
        });
		</script>
	</head>
	<body>
		<div class="frame">
		{% block main %}{% endblock %}
		</div>
		<footer>
			<p class="foot">Yohoho group &copy; </p>
		</footer>
		</div>
	</body>
</html>