{% extends "base.html" %}
{% set title = 'Main' %}
{% block main %}
		<header>
			<img class="index" src='{{url_for("static", filename="makingfiends1.jpg")}}' alt="Words" >
			<h2 class="index" style="text-align:left;">Zaliznyak's grammatical dictionary</h2>
			<h2 class="index" style="text-align:left;font-size:100%;">Predictions without a cristall ball</h2>
		</header>
		<br>
		<article class="index">
			<p><i>This service suggests Zaliznyak's grammatical indexes for "new words". New words are borrowed words, surnames, named entities and other words which are not included in the dictionary of the pos-tagger <a href='https://tech.yandex.ru/mystem/'>Mystem 3.0</a>. The set of indexes is taken from the Grammatical Dictionary of Russian (Zalizniak 2003).</i></p>
			<h2 class="index" style="text-align:center;" style="font-size:120%;"> <a href='{{url_for("prediction")}}'>Make a prediction!</a></h2>
		</article>
		<aside class="index">
			<h3 class="onemenu">Team:</h3>
			<ul>
				<li><b><a class='yo' href='{{url_for("kira")}}' >Kira Droganova</a></b></li>
				<li><b><a class='yo' href='{{url_for("nadin")}}'>Nadin Byjlova</a></b></li>
				<li><b><a class='yo' href='{{url_for("ilya")}}'>Ilya Azerkovich</a></b></li>
			</ul>
			<h3 class="onemenu">Advizers:</h3>
			<ul>
			  <li><b><a class='yo' href="http://www.hse.ru/en/staff/olesar">Olga Lyashevskaya </a></b>
			  <br><i>Scientific adviser</i></li>
			  <li><b><a class='yo' href="http://odict.ru/">Sergey Slepov</a></b>
			  <br><i>Technical adviser</i></li>
			</ul>
		</aside>

{% endblock %}